/* h3{
    color:antiquewhite !important;
} */
*{/*     universal selector */
    font-family:'Courier New', Courier, monospace;
}

h1,h3{
    color:#c61710;
}
#login{
    background-color:white;
}
#signup{
    background-color:#b92b27;
    color:white;
}
.upvote{
    background-color:green;
    color:aliceblue;
}
#myid p{
    color:red; 
}
/* decendent selector  */
.post a{ 
    color:purple;
    background-color:yellow;
}
nav ul li a {
    color:pink;
}
#knowus a {
    color:aqua;
}
/* Adjacent siblings combinations(It is used when both are in 
same level , like sister we need to use + ) */
p + h3 {
    text-decoration:underline;
}
.upvote + button {
    background-color:aqua;
    color:black;
}
/* Child combinator */
div > input {
    background-color:sandybrown;
    color:whitesmoke;
}
/* Attribute selector */
input[type="text"]{
    color:green;
}
input[type="password"]{
    color:red;
}
input[type]{
    background-color:whitesmoke;
}

/* Psudeo-class */
/* 1) hover: */
button:hover{
    color:white;
    background-color:black;
}
h3:hover{
    text-decoration:overline;
}
/* 2):active */
button:active{
    background-color:palevioletred;
    color:black;
}
p:active{
    font-weight:bold;
    color:green;
}
/* 3)checked */
input[type=radio]:checked + lable{
    color:red;
    font-weight:bold;
}
div:nth-last-of-type(2n){
    background-color:blanchedalmond
}
/* Pusdo element */
h1::first-letter{
    color:pink;
}
p::selection{
    color:rgb(224, 228, 156);
}
/* Cascading  */
h3{
    color:yellow:
}
h3{
    color:blue;
}

